// Combos

@mixin combo-color($bg, $lighter, $text, $border) {
    background-color: $bg;

    &.transparent {
        background-color: $lighter;
    }

    &.text-color {
        color: $text;
    }

    &.btn-color {
        border-color: $border;

        &.active {
            background-image: none;
            outline: 0;
            -webkit-box-shadow: inset 0 5px 10px rgba(0,0,0,.350);
            box-shadow: inset 0 5px 10px rgba(0,0,0,.350);
            color: #FFFFFF;
        }
    }
}

// Combo Decorator sizes
@mixin combo-decorator-size($size) {
    width: $size;
    height: $size;
}