.card {
    border-radius: 4px;
    min-height: 222px;
    padding: 5px 10px;
}

.card-header,
.card-footer {
    font-size: 18px;
    font-weight: 200;
}

.card h1 {
    font-size: 30px;
    font-weight: 400;
}

.card .fa {
    display: block;
    margin: 10px;
    font-size: 1em;
}

.card dl {
    margin-bottom: 0px;
    font-size: 16px;
}

.card dt {
    font-weight: 400;
}

.card dd {
    margin-bottom: 3px;
    font-weight: 200;
}