h1 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aligner-column {
    flex-direction: column;
}

.aligner-item {
    flex-grow: 1;
}

.aligner-item-start {
    align-self: flex-start;
}

.aligner-item-end {
    align-self: flex-end;
}

.page-header {
    padding-bottom: 15px;
}

.page-header h1 {
    margin: 0px;
}

.page-header, .page-body {
  margin: 0 0 24px 0;
}

.media-right {
    margin-right: 1em;
}

.media-body li {
    margin: .5em 0;
}
