
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

// Variables
@import "gamestation/variables";
@import 'gamestation/mixins';

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import 'gamestation/pages';
@import 'gamestation/combos';
@import 'gamestation/tables';
@import 'gamestation/cards';
@import 'gamestation/navbar';
@import 'gamestation/stats';
@import 'gamestation/forms';
@import 'gamestation/buttons';

html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 35px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 35px;
}

.gs-inline-block {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.vertical-hr {
    background-color: #ababab;
    height: 24px;
    margin: 0 5px;
    width: 1px;
    vertical-align: top;
}
.vertical-hr-inline {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.bg-default{
    background-color: #f7f7f7;
}

.select2-container--bootstrap .select2-selection--single {
    height: 38px !important;
    padding: 8px 24px 6px 12px !important;
}
