/** Dragula */
.dragula-wrapper {
    margin: 20px 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.dragula-wrapper .dragula-container {
    height: 300px;
    width: 48%;
    border: 1px solid #e1e1e1;
    background-color: #fbfbfb;
    overflow: scroll;
    border-radius: 4px;
}
.dragula-wrapper .dragula-container.dragula-container-left {
    float: left;
}
.dragula-wrapper .dragula-container.dragula-container-right {
    float: right;
}
.dragula-wrapper .dragula-container > div,
.gu-mirror {
    margin: 10px;
    padding: 10px 15px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    background-color: #eaeaea;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    color: #000000;

}
.dragula-wrapper .dragula-container > div input,
.gu-mirror input {
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    text-align: right;
}
.gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
