$combo-colors: (
    (
        'color': '#A4BDFC',
        'color-lighter': lighten(#A4BDFC, 30%),
        color-text: #D5E1FE,
        color-border: #7C9FF7
    ),
);

$color-combo-1:         #A4BDFC;
$color-combo-1-lighter: lighten($color-combo-1, 30%);
$color-combo-1-text:    #D5E1FE;
$color-combo-1-border:  #7C9FF7;

$color-combo-2:         #7AE7BE;
$color-combo-2-lighter: lighten($color-combo-2, 30%);
$color-combo-2-text:    #E0FDF2;
$color-combo-2-border:  #53D5A4;

$color-combo-3:         #DBADFF;
$color-combo-3-lighter: lighten($color-combo-3, 30%);
$color-combo-3-text:    #F5E7FF;
$color-combo-3-border:  #C880FF;

$color-combo-4:         #FF887C;
$color-combo-4-lighter: lighten($color-combo-4, 30%);
$color-combo-4-text:    #DD5C4F;
$color-combo-4-border:  #FFABA2;

$color-combo-5:         #FBD75B;
$color-combo-5-lighter: lighten($color-combo-5, 30%);
$color-combo-5-text:    #BB9617;
$color-combo-5-border:  #E3BC35;

$color-combo-6:         #FFB878;
$color-combo-6-lighter: lighten($color-combo-6, 30%);
$color-combo-6-text:    #FFE1C6;
$color-combo-6-border:  #DE914C;

$color-combo-7:         #46D6DB;
$color-combo-7-lighter: lighten($color-combo-7, 30%);
$color-combo-7-text:    #A2EFF3;
$color-combo-7-border:  #24C5CC;

$color-combo-8:         #E1E1E1;
$color-combo-8-lighter: lighten($color-combo-8, 30%);
$color-combo-8-text:    #FFFFFF;
$color-combo-8-border:  #B4B4B4;

$color-combo-9:         #5484ED;
$color-combo-9-lighter: lighten($color-combo-9, 30%);
$color-combo-9-text:    #A8C2F8;
$color-combo-9-border:  #316AE4;

$color-combo-10:         #4EB749;
$color-combo-10-lighter: lighten($color-combo-10, 30%);
$color-combo-10-text:    #A6E5A3;
$color-combo-10-border:  #31A02B;

$color-combo-11:         #DC2126;
$color-combo-11-lighter: lighten($color-combo-11, 30%);
$color-combo-11-text:    #FD797C;
$color-combo-11-border:  #AF0F13;
